:root{
    --color-main-dark:#000000;
    --color-main-light:#FFFFFF;
    --color-brand:#A93B59;
    --color-brand-dark:#B96A7F;
    --color-brand-light:#C9A1AC;
    --color-accent:#55B8FF;
    --color-icons:#6F6567;
    --color-main:#F5EBEB;

}

$bp-mobile:480px;
$bp-tablet: 768px;
$bp-desktop: 1440px;
$bp-desktop-L: 1960px;