.button{
    @include size (360px, 55px);    
    @include text(24px, 400, 30px);
    background-color: var(--color-brand);
    border-radius: 15px;
    border: 2px solid var(--color-brand);
    color: var(--color-main);
    text-align: center;
    margin-left: 0;

    @media screen and (min-width: $bp-tablet) {
        @include size (437px, 62px); 
        margin-left: 110px; 
        
    }

    @media screen and (min-width: $bp-desktop) {
        margin-left: 180px;
    }

    &:hover{
        background-color: transparent;
        border: 2px solid var(--color-main-light);
        transition: 0.3s;
    }
    }

    .show-all{
        display: none;

        @media screen and (min-width: $bp-tablet) {
            @include center;
            @include size(182px, 50px);
            background-color: transparent;
            border: 1px solid white;
            border-radius: 15px;
            color: var(--color-main-light);
           @include text(16px, 400, 20px);
            letter-spacing: 0.1em;
            text-align: center;
            margin: 15px 30px 15px 30px;
           
                        
        }

        @media screen and (min-width: $bp-desktop) {
            @include center;
            @include size(182px, 50px);
            background-color: transparent;
            border: 1px solid white;
            border-radius: 15px;
            color: var(--color-main-light);
           @include text(16px, 400, 20px);
            letter-spacing: 0.1em;
            text-align: center;
            margin: 15px 30px 15px 30px;
            
            
        }

        &:hover{
            background-color: var(--color-brand);
            border: 2px solid var(--color-brand);
            transition: 0.3s;
        }

    }

    .form-button{
        @include size (416px, 62px);
        margin: 0;
        margin-top: -20px;
        margin-left: 55px;
        
    }
