.catalog{
    position: relative;
    @include center;
    padding-top: 44px;

    &::after{
        position: absolute;
        @include size(830px, 1415px);
        background-image: url('/images/catalog-background.png');
        background-repeat:  no-repeat;
        left: auto;
        right: 0;
        content: '';
        z-index: -1;
        }

    &__title{
        position: relative;
        @include text(36px, 600, 48px);
        font-family: 'Playfair Display', serif;
        color: var(--color-brand);
        text-align: left;
        margin-left: 349px;
        margin-bottom: 100px;
 
        &::after{
            position: absolute;            
            content: '';
            @include size(491px, 2px);
            background: var(--color-brand);
            left: -345px;
            bottom: 0
                                     
        }
    }

    &__sort{
        @include center;
        width: 1085px ;
        flex-direction: column;
        background-color: #B96A7F80;
        border-radius: 15px;
        margin: 0 177px 50px 177px;
        
        &-title{
            font-family: 'Playfair Display', serif;
            text-align: center;
            @include text(36px, 600, 48px);
            margin-top: 0;
            margin-bottom: 20px;
        }

    }

    &__form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include size(1085px, 64px);
        background-color: var(--color-brand-dark);
        border-radius: 15px;
               
        &-item{
            @include size(140px, 23px);            
            @include text(18px, 300, 23px);
            text-align: left;
            border: none;
            background-color:transparent;
            color: var(  --color-main-light);
            margin-top: 20px;
            margin-right: 25px;
            margin-bottom: 20px;
            margin-left: 25px;
            
            &-item:nth-child(2),
            :nth-child(4){
                @include size(230px, 23px);
            }
        }

    }

    &__products{
        @include center;
        flex-direction: column;
        margin-bottom: 92px
    }

    &__list{
        @include center;
        width: 1110px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 75px;
        margin-bottom: 60px; 
        
    }

    &__item{
        @include size(320px, 413px);
        background-color: var(  --color-main-light);
        border-radius: 15px;
        margin-bottom: -45px;
    }
}