.catalog{
    position: relative;
    @include center;
    padding-top: 44px;
    margin-bottom: 80px;
        

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 92px;             
            }


    &::after{        

        @media screen and (min-width: $bp-desktop) {
            position: absolute;
        @include size(830px, 1415px);
        background-image: url('../images/catalog-background.png');
        background-repeat:  no-repeat;
        top: 0;
        left: auto;
        right: 0;
        content: '';
        z-index: -1;   
        }

        }

    &__title{
        position: relative;
        @include text(36px, 600, 48px);
        font-family: 'Playfair Display', serif;
        color: var(--color-brand);
        text-align: left;
        margin-left: 200px;
        margin-bottom: 23px;

        @media screen and (min-width: $bp-desktop) {
            margin-left: 349px;
            margin-bottom: 100px;     
        }
 
        &::after{
            position: absolute;            
            content: '';
            @include size(491px, 2px);
            background: var(--color-brand);
            left: -345px;
            bottom: 0
                                     
        }
    }

    &__sort{
        @include center;
        width: 360px ;
        flex-direction: column;
        background-color: #B96A7F80;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;

        @media screen and (min-width: $bp-tablet) {
            width: 750px ;
            margin-right: auto;
            margin-bottom: 50px;
            margin-left: auto;
        }

        @media screen and (min-width: $bp-desktop) {
            width: 1085px ;
            margin-right: auto;
            margin-bottom: 50px; 
            margin-left: auto;
        }
        
        &-title{
            font-family: 'Playfair Display', serif;
            text-align: center;
            @include text(24px, 600, 32px);
            margin-top: 0;
            margin-bottom: 0;

            @media screen and (min-width: $bp-tablet) {
                margin-bottom: 16px;
            }

            @media screen and (min-width: $bp-desktop) {
                @include text(36px, 600, 48px);
                margin-bottom: 20px;
            }
        }

    }

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include size(360px, 155px);
        background-color: var(--color-brand-dark);
        border-radius: 15px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            justify-content: space-between;
            @include size(750px, 64px);
            }

        @media screen and (min-width: $bp-desktop) {
        flex-direction: row;
        justify-content: space-between;
        @include size(1085px, 64px);
        
        }
               
        &-item{
            @include size(328px, 23px);            
            @include text(18px, 300, 22px);
            text-align: left;
            border: none;
            background-color:transparent;
            color: var(  --color-main-light);
            margin-top: 4px;
            margin-right: 16px;
            margin-bottom: 4px;
            margin-left: 16px;

            @media screen and (min-width: $bp-tablet) {
                @include size(110px, 23px); 
                margin-top: 20px;
                margin-right: 25px;
                margin-bottom: 20px;
                margin-left: 25px;                
                }

            @media screen and (min-width: $bp-desktop) {
                @include size(140px, 23px); 
                margin-top: 20px;
                margin-right: 25px;
                margin-bottom: 20px;
                margin-left: 25px;                
                }
                        
        }

    }

    &__products{
        @include center;
        flex-direction: column;
               

            &-title{
              margin-bottom: 16px;

              @media screen and (min-width: $bp-desktop) {
                margin-bottom: 20px;         
                }
            }
    }

    

    &__list{
        @include center;
        @include size(240px, 355px);
        flex-direction: column;
        flex-wrap: nowrap;
        margin-bottom: 60px; 

        @media screen and (min-width: $bp-tablet) {
            width: 780px;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 25px;
            margin-bottom: 92px;             
            }

        @media screen and (min-width: $bp-desktop) {
            width: 1110px;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 33px;
            margin-bottom: 92px;             
            }
        
    }

    &__item{
        @include size(240px, 355px);          
        background-color: var(  --color-main-light);
        border-radius: 15px;
        margin-bottom: -45px;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 0;         
            }       

        @media screen and (min-width: $bp-desktop) {
            @include size(320px, 413px);           
            }
    }
}