.clients{
    @include center;


    &__title{
        position: relative;
        @include text(36px, 600, 48px);
        font-family: 'Playfair Display', serif;
        color: var(--color-brand);
        text-align: right;
        margin-right: 196px;
        margin-bottom: 140px;

        &::after{
            position: absolute;            
            content: '';
            @include size(430px, 2px);
            background: var(--color-brand);
            right: -186px;   
            bottom: 0;         
    }
    }

    &__carousel{
        @include center;
        flex-direction: row;
        gap: 12px; 
        height: 358px; 
        margin-bottom: 124px;
    }

    &__list{
        @include center;
        flex-direction: row;
        gap: 18px;

    }
}