.header{
    @include center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 12px;
     
        @media screen and (min-width: $bp-tablet) {
            padding-top: 26px;
          }
    }

    &__logo{
        @include size(126px,63px);
        
    }

    &__nav{
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            flex-direction: row;
            gap: 32px;
            @include text(16px,400, 21px);
            color: var(--color-main);
            
         }

        @media screen and (min-width: $bp-desktop) {
            @include text(20px,400, 25px);
           
        }        
    }

    &__mobile{
        display: flex;
          justify-content: space-between;
          gap: 16px; 

        @media screen and (min-width: $bp-tablet) {
            display: none;       
        }

        &-icons{
            @include size(42px, 42px);

            &:hover{
                transform: scale(1.2);
                transition: 0.3s;
            }
        }
    }


}